body {
  background-color: rgba(0, 0, 0, 0.84);
  margin: 0px;
}

li {
  list-style: none;
}



.right-side-home {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
  width: 540px;
  height: 767px;
  position: relative;
  left: 930px;
  /* position absolute; */
  background-image: linear-gradient(to bottom right, #8800ff, #dc20e6);
}



.login-box {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  font-family: sans-serif;
  background: #5d10a0;
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box ::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}


.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #dc20e6;
  border-style: none;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #dc20e6;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dc20e6,
    0 0 25px #dc20e6,
    0 0 50px #dc20e6,
    0 0 100px #dc20e6;

}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #dc20e6);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #dc20e6);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #dc20e6);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #dc20e6);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-home {
  display: flex;
}

lottie-player {
  width: 500px;
  display: flex;
  margin-left: 35px;
  justify-content: center;
}


.nav {
  height: 100vh;
  background: linear-gradient(#8800ff, #dc20e6);
  width: 220px;
}

.nav-logo {
  /* position: absolute; */
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.category {
  width: 200px;
  border-style: none;
  height: 200px;
  background-color: #8800ff;
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(7, 7, 7, 0.35) 0px 5px 15px;
}


.category h1 {
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

.category-list {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  margin-top: 50px;
}

.profile-page {
  display: flex;
}

.category button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-style: none;
  color: #fff;
  background-color: #dc20e6;
  top: 0;
  right: 0;
}



.form__group {
  position: relative;
  font-family: sans-serif;
  margin-left: 100px;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 50%;
}


.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  position: relative;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;



  &::placeholder {
    color: transparent;
  }



  &:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}



.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}


.form__field:focus {
  ~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #8800ff;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #dc20e6, #8800ff);
  border-image-slice: 1;
}


.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}


.mainGoals h1 {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 600;
  margin-left: 15px;
}

.mainGoals p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 15px;
}


.button-1 {
  background-color: #000000;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: absolute;
  left: 260px;
  top: 106px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #dc20e6;
}


.goal-wrapper {
  position: relative;
}

.progress-circle {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
}


.vision h1 {
  font-size: 500px;
  color: #fff;
}


.try {
  width: 500px;
  height: 500px;
  background-color: #8800ff;
}

.vision-board {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.image-grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image-vector {
  width: 20px;
}


.upload-btn-wrapper {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.btn {
  border: 2px solid #2b2a2b;
  color: #dc20e6;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.log-out {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 70px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  font-family: sans-serif;
  background: #5d10a0;
  text-align: center;

}

.log-out h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}


.log-out button {
  display: inline-block;
  padding: 10px 20px;
  color: #dc20e6;
  border-style: none;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  margin-left: 10px;
}

.thing {
  padding: 1rem;
  width: 420px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;

  border-left: 0 solid #dc20e6;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.thing:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #dc20e6;
}

.thing> :first-child {
  margin-top: 0;
}

.thing> :last-child {
  margin-bottom: 0;
}

.heading {
  color: #fff;
}



.mainGoals {
  margin-top: 50px;
  margin-right: 20px;
}

.main-title-goal {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.each-goal {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;

}

.each-goal p {
  font-weight: 400;
}

.goal-form {
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
}

.deleteImg {
  width: 20px;
}

button.delete-btn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

button.delete-btn:focus {
  outline: none;
  position: absolute;
  right: 0%;
  top: 0%;
}




.each-goal {
  padding: 10px;
  margin-bottom: 10px;
  position: relative;

}

.each-goal h1 {
  font-size: 24px;
  margin: 0;
}

.each-goal p {
  margin: 5px 0;
}

.each-goal .important {
  display: flex;
  align-items: center;
}

.each-goal .important p {
  margin-right: 10px;
}

.each-goal .important-image {
  width: 30px;
  height: 30px;
  position: relative;
  top: 0;
}

.each-goal .important-input {
  margin-left: 10px;
}

.each-goal .delete-btn {
  position: absolute;
  top: 0;
  margin-left: 400px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.each-goal .delete-btn img {
  width: 20px;
  height: 20px;
}


.completed-label {
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}



.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #dc20e6;
}

input:focus+.slider {
  box-shadow: 0 0 1px #dc20e6;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




.goal-button {
  margin-left: 50px;
  position: relative;
  display: inline-block;
  font-weight: 600;
  padding: 5px 10px;
  color: white;
  background-color: #000000;
  border-style: none;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}




.goal-button :hover {
  background: #dc20e6;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #dc20e6,
    0 0 25px #dc20e6,
    0 0 50px #dc20e6,
    0 0 100px #dc20e6;

}

.goal-button span {
  position: absolute;
  display: block;
}

.goal-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #dc20e6);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}



.goal-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #dc20e6);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.goal-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #dc20e6);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.goal-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #dc20e6);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.goal-title {
  width: 130px;
  height: 30px;
  font-size: 15px;
  justify-content: center;

}

.goal-description {
  width: 130px;
  height: 30px;
  font-size: 15px;
  justify-content: center;
}


.important-container {
  position: relative;
  top: 10px;
  ;
  left: 5px;
}



.important-input {
  width: 30px;
  height: 30px;
}