@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.logo-home {
  margin-top: 3px;
  width: 180px;
  position: absolute;
  top: 2%;
  left: 7%;
  transform: translateX(-50%);
  z-index: 999;
}

nav ul{
display: flex;
flex-direction: row;
}

nav {
  overflow: hidden;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: flex-end;
  background-color: rgb(12, 12, 12);
}

nav a {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #8800ff;
}

nav .dot {
  width: 6px;
  height: 6px;
  background: #8800ff;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.2s ease-in-out;
}

nav a:nth-child(1):hover ~ .dot {
  transform: translateX(30px);
  opacity: 1;
}

nav a:nth-child(2):hover ~ .dot {
  transform: translateX(110px);
  opacity: 1;
}

nav a:nth-child(3):hover ~ .dot {
  transform: translateX(200px);
  opacity: 1;
}

nav a:nth-child(4):hover ~ .dot {
  transform: translateX(285px);
  opacity: 1;
}
